﻿@model PagedList.IPagedList<Company>


<div  class="main-block">
    <h2>Все заведения</h2>
    <form action="" method="get" class="search">
        <input type="search" name="search_word" placeholder="поиск" value="@ViewBag.Search_word" class="input" />
        <input type="submit" name="" value="" class="submit" />
    </form>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-3 title-card">
                <div class="card">
                    <a asp-action="Detail" asp-controller="Companies" asp-route-id="@item.Id"><img class="card-img-top" width="150" height="160" src="@item.Foto" alt="главное фото"></a>
                    <div class="title">
                        <a asp-action="Detail" asp-controller="Companies" asp-route-id="@item.Id"><h4>@item.Name</h4></a>
                        <p>@item.Description</p>
                    </div>
                    <div>
                        <small class="text-muted">(@item.Rating, @item.CountOfVotes голосов)</small>
                    </div>
                    <div>
                        <small class="text-muted">@item.CountFotos фотографий</small>
                    </div>
                </div>
            </div>

        }

    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        из @Model.PageCount

        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("<<", "Index", new { page = 1, search_word = ViewBag.Search_word })
            @Html.Raw(" ")
            ;
            @Html.ActionLink("< Предыдущая", "Index", new { page = Model.PageNumber - 1, search_word = ViewBag.Search_word })
        }
        else
        {
            @:<<
            @Html.Raw(" ")
            ;
            @:< Предыдущая
        }

        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Следующая >", "Index", new { page = Model.PageNumber + 1, search_word = ViewBag.Search_word })
            @Html.Raw(" ")
            ;
            @Html.ActionLink(">>", "Index", new { page = Model.PageCount, search_word = ViewBag.Search_word })
        }
        else
        {
            @:Следующая >
            @Html.Raw(" ")
            @:>>
        }
    </div>
</div>
<style>
    .main-block {
        text-align: center;
        margin-top: 40px;
    }
    .card {
        text-align: center;
    }

    .card p {
        word-wrap: break-word;
    }

    .card a {
        text-decoration: none;
        color: black;
    }

    .card h4 {
        font-weight: bold;
    }

    .title {
        display: inline-block;
        width: 80%;
        text-align: center;
    }

    .title-card {
        padding: 0;
    }

    .search {
        width: 20%;
        position: relative;
        margin-top: 20px;
    }

    .search input {
        border: none;
    }

    .search .input {
        width: 100%;
        padding: 8px 37px 9px 15px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
        border-radius: 20px;
        background: #EEE;
        font: 13px Tahoma, Arial, sans-serif;
        color: #555;
        outline: none;
    }

    .search .input:focus {
        box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
        background: #E8E8E8;
        color: #333;
    }

    .search .submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 37px;
        height: 100%;
        cursor: pointer;
        background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
        opacity: 0.5;
    }

    .search .submit:hover {
        opacity: 0.8;
    }

    input[type="search"] {
        -webkit-appearance: none;
    }
    form {
        margin-bottom: 20px;
        display: inline-block;
    }
    .row {
        margin-bottom: 20px;
    }

</style>


