﻿@model WebApplication14.Models.MyViewModels.DetailsViewModel


<div style="display: flex; margin-top: 20px; width: 100%; border-bottom: 1px solid black; padding-bottom: 15px; ">
    <div style=" float: left; margin-right: 15px; width: 40%; margin-right: 80px;">
        <div>
            <img class="card-img-top" src="/@Model.Foto" style="width: 100%; height: auto;" alt="User's profile image">
        </div>
    </div>

    <div class="form-group" style="width: 50%; float: left; text-align: right;text-align: center">

        <h3 style="font-size: 50px;">@Model.Name</h3>
        <p style="word-wrap: break-word; ">@Model.Description</p>
        <div style="margin-top: 40px;"><i>Рейтинг заведения - (@Model.Rating)</i></div>
    </div>
</div>
<div style="padding: 15px 0; border-bottom: 1px solid black;">
    <h4>Галерея</h4>
    @if (Model.Images.Count() > 0)
    {
        foreach (var item in Model.Images)
        {
            <div style="display: inline-block">
                <img class="card-img-top" src="/@item.Foto" style="width: 200px; height: 200px;" alt="User's profile image">
            </div>
        }
    }
    else
    {
        <p>Нет фотографий</p>
    }

</div>

<div style="padding: 15px 0; border-bottom: 1px solid black;">
    <h4>Отзывы</h4>
    @if (Model.Comments.Count() > 0)
    {
        foreach (var item in Model.Comments)
        {
            <div style="border: 1px solid black; margin-bottom: 15px">
                <p>@item.User.UserName  @item.DateCreate </p>
                <p>Коментарий - @item.Description</p>
                <p>Оценка - @item.Rating</p>
            </div>
        }
    }
    else
    {
        <p>Нет комментариев</p>
    }

</div>
@if (User.Identity.IsAuthenticated)
{
    <h4>Оставить комментарий</h4>
    <form style="padding: 15px 0; " asp-action="Detail" method="post" enctype="multipart/form-data">
    
        <div class="form-group">
            <label>Комментарий</label>

            <textarea class="form-control" rows="5" asp-for="@Model.Comment.Description" style="width: 90%; resize: none;" placeholder="Текст вашего отзыва"></textarea>
            <span asp-validation-for="@Model.Comment.Description" class="text-danger"></span>
        </div>
        <div class="hidden">
            <input asp-for="@Model.Id" value="@Model.Id" class="form-control" />
        </div>
        <div style="width: 30%;" class="form-group">
            <label>Выбрать оценку</label>
            <div id="reviewStars-input">
                <input id="star-4" type="radio" value="5" name="NewRating" />
                <label title="gorgeous" for="star-4"></label>

                <input id="star-3" type="radio" value="4" name="NewRating" />
                <label title="good" for="star-3"></label>

                <input id="star-2" type="radio" value="3" name="NewRating" />
                <label title="regular" for="star-2"></label>

                <input id="star-1" type="radio" value="2" name="NewRating" />
                <label title="poor" for="star-1"></label>

                <input id="star-0" type="radio" value="1" name="NewRating" />
                <label title="bad" for="star-0"></label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>
    <form style="padding: 15px 0; border-top: 1px solid black;" asp-action="Detail" method="post" enctype="multipart/form-data">
        <div style="width: 30%;" class="form-group">
            <h4>Добавить фото</h4>
            <input class=" = form-control" type="file" name="newFoto" accept="image/*" />
            <span asp-validation-for="newFoto" class="text-danger"></span>
        </div>
        <div class="hidden">
            <input asp-for="@Model.Id" value="@Model.Id" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </form>
}
<style>
    #reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
        background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
    }

    #reviewStars-input {
        /*fix floating problems*/
        overflow: hidden;
        *zoom: 1;
        /*end of fix floating problems*/
        position: relative;
        float: left;
    }

        #reviewStars-input input {
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0;
            width: 43px;
            height: 40px;
            position: absolute;
            top: 0;
            z-index: 0;
        }

            #reviewStars-input input:checked ~ label {
                background-position: 0 -40px;
                height: 40px;
                width: 43px;
            }

        #reviewStars-input label {
            background-position: 0 0;
            height: 40px;
            width: 43px;
            float: right;
            cursor: pointer;
            margin-right: 10px;
            position: relative;
            z-index: 1;
        }

            #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
                background-position: 0 -40px;
                height: 40px;
                width: 43px;
            }

        #reviewStars-input #star-0 {
            left: 0px;
        }

        #reviewStars-input #star-1 {
            left: 53px;
        }

        #reviewStars-input #star-2 {
            left: 106px;
        }

        #reviewStars-input #star-3 {
            left: 159px;
        }

        #reviewStars-input #star-4 {
            left: 212px;
        }

        #reviewStars-input #star-5 {
            left: 265px;
        }
</style>
