﻿@model IEnumerable<WebApplication14.Models.Company>


<h2>Все заведения</h2>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <a asp-action="Detail" asp-route-id="@item.Id"><img class="card-img-top" src="@item.Foto" alt="главное фото"></a>
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

    }
    
</div>
